.card{
    background-color: rgb(178, 180, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.gambar {
    width:300px;
    height: 300px;
    border-radius: 1000px;
    object-fit: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}